h1 {
  color: blue;
  text-align:center;
  font-size: 300%;
}

h2 {
  color: orange;
  text-align:left;
  padding-left: 200px;
  font-size: 250%;
}

h3 {
  color: orange;
  text-align:left;
  padding-left: 200px;
  font-size: 250%;

}

p {
  margin: 60px;
}


img{
	padding: 2px;
	
	margin-bottom: 10px;
margin-right:20px; 
margin-left: 150px;

}

ul{
  font-size: 20px;
margin-left: 150px;
  
}

label {
margin-left: 150px;

display: block;
width: 150px;
float: left;
}

button {
margin-left:200px;
}